.change-button{
    padding: 1.5vh 0;
    background: red;
    width: 15vw;
    margin: 1vh auto;
    outline: 5px solid black;
    border-radius: 10px;
}

.change-button:hover{
    cursor: pointer;
    color: white;
}